h1 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
h2 {
  color: yellow;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
p {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
