:root {
  --branding-color: #b3c1ca;
  --secondary-color: #e0d3da80; 
  --background-color: #46757b40;
--heading-font-family:font-family: "Playfair Display", serif;
--default-font-family:font-family: "Poppins", sans-serif;
}

body{
    font-family: var(--default-font-family);
    background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 64px;
}
p {
  color: black;
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 20px;
  line-height: 1.7;
}
h4{
    font-size: 48px;
}
img{
    max-width: 100%;
    height: 90%;
    padding: 40px;
}

.nav-link{
    color: black;
}

.nav-link:hover{
    color:#e8b19d
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}

.content-container h1{
    font-size: 64px;
    line-height: 80px;
}

.content-container{
    padding: 160px 20px;
}


.content-container h2{
    font-size: 28px;
}

.content-container p{
    font-size: 18px;
    font-family: var(--default-font-family);
}

.content h3{
    font-size: 24px;
    line-height: 1.5;
    margin: 20px 0 0;
    font-family: var(--default-font-family);
}


.text-center{
    text-align: center;
    font-family: var(--default-font-family);
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.btn-branding-outline{
color: var(--branding-color);
border: 1px solid var(--branding-color);
background-color: #272142;
border-radius: 4px;
font-size: 18px;
font-weight: bold;
line-height: 2;
padding: 15px 30px;
}

.project-description{
    padding: 120px 60px;
}


.img-fluid{
    max-width: 100%;
    height: auto;
}

.homepagebtn{
    display: block;
    margin: 0 auto;
    text-align: center;
}

footer{
    margin: 60px 0;
}
footer .email-link{
    text-decoration: none;
    color:#272142;
    font-size: 24px;
    text-align: center;
}

footer .social-links a {
    margin: 0 20px;
    color: var(--branding-color);
    padding: 10px 14px;
    font-size: 18px;
    background-color: var(--secondary-color);
    
}

footer .social-links a:hover{
    color:#e8b19d;
    background: var(--branding-color);
    transition: all 100ms ease-in-out;
}

footer .contact-box{
    background: var(--secondary-color);
    padding: 30px 120px;
border-radius: 10px;
}

footer .contact-box p {
    margin: 0;
}
.email-link:hover{
    color: #e8b19d;
    font-size: 34px;
}



#contact-icons{
    font-size: 48px;
    color:#272142;
text-align: center;
display: block;
margin: 0 auto;
}



@media(max-width: 960px){
h1{
    font-size: 44px;
}
h2{
    font-size: 44px;
}

h4{
    font-size: 18px;
}


.hero{
    padding: 80px 20px;
}
.project-description{
    padding: 0;
    text-align: center;
}
.about-section{
    text-align: center;
    padding:0;
}
.nav-link{
    font-size: 14px;
    color:blueviolet;
}
footer .contact-box{
padding:30px;
}

}

